@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #2f2f2f;
  cursor: default;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  color: #1f2421;
}

#main {
  position: relative;
  bottom: 30px;
  background-color: #f4f4f5;
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: 5px 8px 0px #6d95ed;
  text-align: center;
  font-size: 1.1rem;
}

#info {
  background-color: #9cbaf4;
  color: #2f2f2f;
  border-radius: 15px;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.1rem;
  margin: 0 50px;
  max-width: 700px;
}

#result {
  display: block;
  margin-bottom: 30px;
  font-size: 1.4rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 75px;
  color: grey;
}

h1 {
  color: #f4f4f5;
  font-size: 4rem;
  text-align: center;
  font-weight: 200;
  letter-spacing: -0.025em;
  cursor: default;
}

#check-btn,
#text-input {
  margin: 10px 10px 20px 10px;
  font-size: 1.1rem;
  text-align: center;
}

#check-btn {
  background-color: #6d95ed;
  padding: 4px 15px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#check-btn:hover {
  background-color: #9cbaf4;
}

a {
  color: #6d95ed;
  text-decoration: none;
}

@media screen and (max-width: 458px) {
  h1 {
    font-size: 2rem;
  }
}
